<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My App Angular</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mingzat&family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
  <!-- se puede hacer con class y con id -->  -->
  <p class="mitexto" id="mitexto2">Esto es un parrafo</p>
  <h1>esto es un titulo</h1>
  <h3>esto es otro titulo</h3>
  <br>
  <table class="tabla" border="1" align="center">
    <tr class="encabezado" align="center">
      <th>productos</th>
      <th>precios  </th>
      <th>cantidad </th>
    </tr>
    <tr>
      <td>computador</td>
      <td>$500000000</td>
      <td>cantidad  </td>
    </tr>
    <tr>
      <td>huawei</td>
      <td>$400000</td>
      <td> 12</td>
    </tr>
    <tr class="botones">
      <td><button>comprar</button></td>
      <td><button>vender</button></td>
      <td><button>comentar</button></td>
    </tr>
  </table>
  <br>
  <h1>mi primer formulario</h1>
  <br>
  <form >
    <input type="text"><input type="submit"><br>
    contraseña: <br>
    <input type="text" name="" id="">

    <br><br>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label>

  </form>
</body>
</html>

<div class="general">
  <h2>london</h2>
  <p>london is the capital city of empire</p>
  <p>londos has people</p>
  <div class="secundario">
    <p>london is the capital city of empire</p>
    <p>londos has people</p>
  </div>


</div>


<router-outlet />
